@layer components {
    .c-version-selector {
        select {
            --background: var(--color-body-background);
            transition: opacity 0.2s ease-in 0s;
            &:focus {
                outline-offset: -1px;
            }
            /* Select Styling. Inspiration - https://moderncss.dev/custom-select-styles-with-pure-css/ */
            appearance: none;
            background: var(--background);
            background-image: url(../../../public/img/dropdown.svg);
            background-repeat: no-repeat;
            background-size: 0.75em;
            background-position: 87% 50%;
            /* Fallback for Safari */
            block-size: 2.25rem;
            min-block-size: 2.25rem;
            padding: var(--spacing-s-4);
            padding-inline: var(--spacing-s-3) 2.15rem;
            color: var(--color-primary-text);
            font-size: var(--font-size-s-1);
            border-radius: 50px;
            border: 1px solid var(--color-pink-border);
            box-shadow: var(--box-shadow-pink-light);
        }
    }
}